<div class="progress no-margin" *ngIf="isLoading">
    <div class="indeterminate"></div>
</div>

<div class="container" *ngIf="!isActive">
    <div class="row">
        <div class="input-field col m2"></div>
        <div class="input-field col m4">
            <input id="last_name" type="text" class="validate" style="width:70%" [(ngModel)]="name" (keyup.enter)="chatActivate()">
            <label for="last_name">Nombre</label>
        </div>
        <div class="col m4">
            <label>Canales</label>
            <select class="browser-default" [(ngModel)]="channel">
                <option *ngFor="let channel of channels" selected>
                    {{channel}}
                </option>
            </select>
        </div>
    </div>
    <div class="row center-align">
        <a (click)="chatActivate()" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Ingresar</a>
    </div>
</div>

<div *ngIf="isActive">
    <div class="card collection center-align">
        <h5>Hola <span class="bold">{{ name }}</span>, Bienvenido al canal <span class="bold">{{ channel }}</span></h5>
    </div>
    <div class="row chat-container" #chatContainer>
        <div class="row">
            <div class="col s12">
                <div class="card collection" *ngFor="let message of chatMessages;trackBy: trackByKey">
                    <div class="card-content collection-item avatar message">
                        <img [src]="message.img" class="circle sender-img">
                        <span class="small-text sender">
                        {{message.app_user_name}} dice:
                    </span>
                        <p>
                            {{message.text}}
                        </p>
                        <span class="secondary-content small-text"> {{message.timestamp | date:'short'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" [hidden]="isLoading || !isActive">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="message-text" class="materialize-textarea" (keyup.enter)="sendMessage()" [(ngModel)]="messageText" [ngModelOptions]="{standalone: true}"></textarea>
                    <label for="message-text">Nuevo mensaje</label>
                </div>
            </div>
        </form>
    </div>
</div>